/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
/* google fonts */
/* font family */
.quicksand{
    font-family: "Quicksand", serif;
}

.raleway{
    font-family: "Raleway", serif;
}
/* font family */

/* universal */
*{
    padding: 0px;
    margin: 0px;
}
/* universal */

/* header part start */
.headers{
    width: 100%;
}

/* nav part start */
.nav-container{
    width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.menu ul li{
    list-style: none;
}

.menu ul a{
    text-decoration: none;
}

.navh1{
    font-size: 2rem;
    line-height: 1.9rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
    margin-left: 10px;
}

.nav-a{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.9rem;
}

.home{
    color: rgba(254, 163, 1, 1);
}

.about{
    color: rgba(1, 172, 253, 1);
}

.facilities{
    color: rgba(5, 212, 223, 1);
}

.admission{
    color: rgba(93, 88, 239, 1);
}

.navbtn{
    padding: 10px 50px;
    border-radius: 12px;
    background-color:rgba(254, 163, 1, 1) ;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.9rem;
    color: #ffffff;
    cursor: pointer;
}

.nav-button{
    display: flex;
    align-items: center;
    justify-content: end;
}

.mobile-view{
    display: none;
}

.mblbtn{
    font-size: 1.8rem;
    color: rgb(17, 17, 17);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav{
    padding: 20px 0px;
}
/* nav part end */

/* banner part css start */

.banner-container{
    width: 1440px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerh1{
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
}

.empower{
    color: rgba(254, 163, 1, 1);
}

.vision{
    color: rgba(1, 172, 253, 1);
}

.bannerp{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 24px 0px;
}

.bannerbtn{
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.9rem;
    background-color: rgba(17, 17, 17, 1);
    padding: 10px 50px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
/* banner part css end */


/* header part end */

/* main part start */

main{
    width: 100%;
}

/* curruclum start */
.curriculum{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}

.curriculum-container{
    width: 1440px;
    margin: 0px auto;
}

.curriculumh1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 3.6rem;
}

.curriculum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
    margin: 100px 0px;
}

.card1{
    text-align: center;
    padding: 60px 60px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card2{
    text-align: center;
    padding: 60px 60px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card3{
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
    padding: 60px 60px;
}

.cardh2{
    color: rgb(32, 32, 32);
    font-size: 1.53rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 32px;
}

.cardp{
    color: rgb(128, 128, 128);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 34px;
}

.cardbtn1{
    color: rgb(100, 200, 255);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
    border: none;
    background-color: transparent;
    padding: 10px;
}

.cardbtn2{
    color: rgb(240, 170, 0);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
    border: none;
    background-color: transparent;
    padding: 10px;
}

.cardbtn3{
    color: rgb(135, 0, 255);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
    border: none;
    background-color: transparent;
    padding: 10px;
}

.direction{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right,
.left{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2rem;
    padding: 20px 30px;
    border-radius: 50%;
    background-color: orange;
    cursor: pointer;
}
/* curriculum ends */

/* main part ends */












/* media query start */

@media screen and (max-width:576px){
      .nav-container{
        width: calc(100% - 40px);
        padding: 0px 20px;
      }  
      
      .menu{
        display: none;
      }

      .navbtn{
        display: none;
      }

      .mobile-view{
        display: block;
      }

      .navh1{
        display: none;
      }

      .banner-container{
        width: calc(100% - 40px);
        flex-direction: column-reverse;
        padding: 0px 20px;
      }

      .banner-image img{
        width: 100%;
      }

      .banner-content{
        text-align: center;
      }

      .bannerh1{
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 700;
        color: rgba(17, 17, 17, 1);
        margin-top: 30px;
    }

    .bannerp{
        color: rgb(17, 17, 17);
        font-size: 0.87rem;
        font-weight: 500;
        line-height: 1.5rem;
        margin: 16px 0px;
    }

    .direction{
        display: none;
    }

    .curriculum-container{
        width: calc(100% - 32px);
        padding: 0px 16px;
    }

    .curriculum-card{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        padding: 20px 0px;
    }

    .card1,
    .card2,
    .card3{
        margin:0px;
    }

    .curriculumh1{
        color: rgb(0, 0, 0);
        font-size:1.5rem;
        font-weight: 700;
        line-height:2rem;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }

    .cardh2{
        color: rgb(32, 32, 32);
        font-size:1rem;
        font-weight: 700;
        line-height: 1.25rem;
        text-align: center;
    }

    .cardp{
        color: rgb(128, 128, 128);
        font-size: 0.7rem;
        font-weight: 500;
        line-height:1.25rem;
        text-align: center;
    }

    .cardbtn{
       font-size: 0.7rem;
       font-weight: 700;
       line-height: 1.25rem;
       letter-spacing: 0%;
       text-align: center;
    }
} 
    

/* media query ends */